.loader__circle, .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .menu__item__checked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant__item, .order__step, main .menu__item, main, button, .presenting__button, header {
  box-shadow: 0px 3px 14px 5px rgba(0, 0, 0, 0.26);
}

button:hover, .presenting__button:hover {
  box-shadow: 0px 3px 14px 5px rgba(0, 0, 0, 0.414);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  user-select: none;
  box-sizing: border-box;
  font-family: Roboto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
}

.name-restaurant {
  font-family: Shrikhand;
  font-size: 25px;
}

.footer__nav__item--logo li {
  font-family: Shrikhand;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: Roboto;
}

header {
  height: 80px;
  width: 100vw;
  background-color: white;
  position: relative;
}
header .logo {
  width: 200px;
  height: 100%;
  margin: 0px auto;
  background: url("../images/logo/ohmyfood.png") center no-repeat;
  background-size: contain;
  transition-duration: 0.5s;
}
header:hover .logo {
  transform: scale(1.2) rotate(2deg);
}
header i {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}
header i:hover {
  color: #9356DC;
}

address {
  text-align: center;
  height: 70px;
  line-height: 70px;
  background-color: #EAEAEA;
}

.footer {
  background-color: #353535;
}
.footer__nav {
  padding: 30px;
  width: 1200px;
  max-width: 100vw;
  margin: 0 auto;
}
.footer__nav__item {
  color: whitesmoke;
  margin: 15px 0px 0px 10px;
  font-size: 18px;
  text-decoration: none;
}
.footer__nav__item:hover {
  text-decoration: underline;
}
.footer__nav__item--logo {
  margin-left: 0;
  font-size: 23px;
  text-decoration: none;
}
.footer__nav__item--logo:hover {
  text-decoration: none;
  color: #9356DC;
}

.loader {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.671);
  width: 100vw;
  height: 100vh;
  animation: loader 3s linear both;
}
.loader__circle {
  width: 40vw;
  height: 40vw;
  border-top: 7px solid #9356DC;
  border-radius: 50%;
  animation: loader_circle 3s linear both;
}
.loader__circle--secondary {
  border-top: none;
  border-bottom: 7px solid #99E2D0;
}

button, .presenting__button {
  text-decoration: none;
  transition-duration: 0.2s;
  width: 250px;
  height: 55px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 25px;
  color: white;
  background: #9356dc;
  background: linear-gradient(4deg, #9356DC 0%, #FF79DA 100%);
}
button:hover, .presenting__button:hover {
  filter: brightness(1.2);
}

.presenting__button {
  line-height: 55px;
}

.coeur_front {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  mask-image: url("../images/heart.svg");
  background-image: url("../images/heart-regular.svg");
  z-index: 5;
}
.coeur_front:hover .coeur {
  background: #9356dc;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  opacity: 1;
}

.coeur {
  width: 40px;
  height: 40px;
  cursor: pointer;
  mask-image: url("../images/heart.svg");
  background-image: url("../images/heart-regular.svg");
  background: #9356dc;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  opacity: 0;
  z-index: 4;
  position: absolute;
  transition-duration: 1s;
}

@keyframes animated_dish {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes to_top {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes to_bottom {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes loader_circle {
  0% {
    transform: translate(-50%, -50%) rotate(0turn);
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) rotate(4turn);
  }
}
@keyframes loader {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.picture_restaurant {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

i.fa-solid {
  color: white;
  transform: rotate(0.5turn);
  transition-duration: 1s;
  font-size: 20px;
}

span {
  font-weight: bold;
}

main {
  background-color: #F6F6F6;
  width: 100vw;
  height: auto;
  min-height: 1000px;
  transform: translateY(-50px);
  border-radius: 40px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}
main .menu {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: no-wrap;
}
main .menu__section {
  font-size: 25px;
  padding-left: 0;
  margin-left: 0;
  animation: none;
}
main .menu__section::after {
  content: "";
  margin-top: 10px;
  display: block;
  background-color: #99E2D0;
  height: 3px;
  width: 60px;
}
main .menu__item {
  overflow: hidden;
  background-color: white;
  width: 100%;
  border-radius: 12px;
  height: 60px;
  position: relative;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  animation-duration: 0.5s;
  animation-name: animated_dish;
  animation-fill-mode: both;
}
main .menu__item--entree {
  animation-delay: 0.2s;
}
main .menu__item--dish {
  animation-delay: 0.4s;
}
main .menu__item--dessert {
  animation-delay: 0.6s;
}
main .menu__item__checked {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #99E2D0;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  transform: translateX(100%);
  transition-duration: 0.5s;
}
main .menu__item__price {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-weight: bold;
  width: 40px;
  transform: translateY(-10%);
  transition-duration: 0.5s;
}
main .menu__item__dish {
  height: 100%;
  line-height: 20px;
  width: calc(100% - 80px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu__item:hover .menu__item__checked {
  transform: translateX(0%);
}

.menu__item:hover .menu__item__price {
  transform: translateX(-100%);
}

.menu__item:hover i {
  transform: rotate(1turn);
}

div.coeur--absolute {
  position: absolute;
  top: 30px;
  right: 30px;
}

button.command__button {
  display: block;
  margin: 50px auto 20px auto;
}

@media (min-width: 1200px) {
  .name-restaurant {
    font-size: 45px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  main {
    width: 80vw;
    min-height: 300px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: no-wrap;
    padding: 0;
  }
  main h2 {
    font-size: 35px;
  }

  section.menu {
    height: 400px;
    width: 25%;
    justify-content: space-around;
    margin-top: 0;
  }

  button.command__button {
    display: block;
    margin: 50px auto 20px auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
  }
}
.presenting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 350px;
  background-color: #F6F6F6;
  margin-bottom: 60px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.presenting__title {
  font-weight: bold;
  font-size: 25px;
  position: relative;
  left: 0;
  width: 80%;
}
.presenting__description {
  width: 80%;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  height: 450px;
  background-color: white;
  padding: 0px 0 50px 0;
}
.order__title {
  width: 90%;
  font-weight: bold;
  font-size: 30px;
}
.order p {
  font-weight: bold;
}
.order i {
  line-height: 70px;
  width: 30%;
  text-align: center;
  font-size: 20px;
  color: #afafaf;
}
.order__step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  height: 70px;
  border-radius: 20px;
  width: 85%;
  background-color: #F6F6F6;
}
.order__step:hover {
  background-color: #e4d5f6;
}
.order__step:hover i {
  color: #9356DC;
}
.order__step__text {
  text-align: left;
  width: 70%;
}
.order__step__number {
  text-align: center;
  line-height: 30px;
  position: absolute;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.restaurant {
  position: relative;
  overflow: hidden;
  height: auto;
  background-color: #F6F6F6;
  width: 100vw;
  height: 1300px;
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
}
.restaurant__title {
  font-weight: bold;
  font-size: 30px;
  width: 90%;
}
.restaurant__item {
  height: 250px;
  border-radius: 20px;
  width: 90%;
  position: relative;
  overflow: hidden;
}
.restaurant__item__img {
  width: 100%;
  height: 100%;
}
.restaurant img {
  object-fit: cover;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.restaurant__item__new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  padding: 7px 10px;
  color: #32b091;
  border-radius: 2px;
}
.restaurant__item__foot {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  height: 30%;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px 20px 0px 20px;
}
.restaurant__item__foot span {
  font-weight: bold;
}

.coeur, .coeur_front {
  width: 25px;
  height: 25px;
}

.coeur_front {
  position: absolute;
  right: 5%;
  bottom: 15%;
  transform: translateY(50%);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .restaurant {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 800px;
  }
  .restaurant__item {
    width: 45vw;
    height: 30vw;
    font-size: 2vw;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .order {
    flex-direction: row;
    padding: 5vw;
    width: 100vw;
  }
  .order__step {
    width: 350px;
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-delay: 4.6s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
  .order__step:nth-child(2) {
    animation-delay: 4s;
  }
  .order__step:nth-child(3) {
    animation-delay: 4.3s;
  }
  .order__title {
    position: absolute;
    top: 2.5vw;
    left: 5vw;
  }

  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 700px;
    padding: 50px 50px;
  }
  .restaurant__title {
    position: absolute;
    top: 2.5vw;
    left: 5vw;
  }
  .restaurant__item {
    filter: brightness(0.7);
    transition-duration: 0.2s;
    width: 20vw;
    height: 15vw;
  }
  .restaurant__item:hover {
    filter: brightness(1);
  }
  .restaurant__item__foot {
    line-height: 20px;
  }
}
@media (min-width: 1800px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    padding: 5vw;
    height: 700px;
    font-size: 1vw;
  }
  .restaurant__item {
    filter: brightness(0.7);
    transition-duration: 0.2s;
    width: 20vw;
    height: 15vw;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .restaurant__item:hover {
    filter: brightness(1);
  }
  .restaurant__title {
    position: absolute;
    top: 2.5vw;
    left: 5vw;
  }
  .restaurant__item:nth-child(odd) {
    align-self: flex-start;
    animation-name: to_top;
    animation-delay: 6s;
  }
  .restaurant__item:nth-child(even) {
    align-self: flex-end;
    animation-name: to_bottom;
    animation-delay: 6.5s;
  }
  .restaurant__item__foot {
    line-height: 30px;
  }

  .order {
    flex-direction: row;
    padding: 5vw;
    width: 100vw;
  }
  .order__step {
    width: 350px;
  }
  .order__title {
    position: absolute;
    top: 2.5vw;
    left: 5vw;
  }

  .coeur, .coeur_front {
    width: 40px;
    height: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
