@keyframes animated_dish {

    from{
        opacity: 0;
        transform: translateY(-100%);
    }

    to{
        opacity: 1;
        transform: translateY(0%);
    }

}

@keyframes to_top{

    from{
        transform: translateY(-200%);
    }

    to{
        transform: translateY(0%);
    }
}

@keyframes to_bottom{

    from{
        transform: translateY(200%);
    }

    to{
        transform: translateY(0%);
    }
}

@keyframes zoom{

    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}

// Animation circles

@keyframes loader_circle {

    0%{
        transform: translate(-50%, -50%) rotate(0turn);
    }

    75%{
        opacity: 1;
    }
    
    90%{
        opacity: 0;
        visibility : visible;
    }

    100%{
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -50%) rotate(4turn);
    }

}

// animation global loader
@keyframes loader {

    0%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        visibility: hidden;
    }
    
}