.presenting__button{

    transition-duration: 0.2s;
    width: 250px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    background: rgb(147,86,220);
    background: linear-gradient(4deg, $color-primary 0%, $color-secondary 100%);
    @extend %shadow_button;
    &:hover{
        @extend %shadow_button_hover;
    }
        
}