button, .presenting__button{
    text-decoration: none;
    transition-duration: 0.2s;
    width: 250px;
    height: 55px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
    color: white;
    background: rgb(147,86,220);
    background: linear-gradient(4deg, $color-primary 0%, $color-secondary 100%);
    @extend %shadow_button;
    &:hover{
        @extend %shadow_button_hover;
        filter: brightness(1.2);
    }   
}

.presenting__button{
    line-height: 55px;
}