// CREATION DU COEUR
.coeur{
    position: absolute;
    cursor: pointer;
    mask-image: url('../images/heart.svg');
    background-image: url('../images/heart-regular.svg');
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%); 
    opacity: 0;
    z-index: 4;
}

.coeur_front{
    position: absolute;
    cursor: pointer;
    mask-image: url('../images/heart.svg'); // le masque affine légèrement le contour de l'image..
    background-image: url('../images/heart-regular.svg');
    z-index: 5;
    &:hover{
        opacity: 0;
    }
    &:hover + .coeur{
        background: rgb(147,86,220);
        background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%); 
        opacity: 1;
    }
}