
// Layout

.loader{
    z-index: 10;
    @extend %center_absolute;
    background-color: rgba(255, 255, 255, 0.671);
    width: 100vw;
    height: 100vh;
    animation: loader 3s linear both;
    &__img{
        @extend %center_absolute;
        width: 40vw;
        height: 40vw;
        background-image: url('../images/assiette.png');
        background-position: center;
        background-size: contain;
        animation: loader_circle 3s linear both;
        filter: drop-shadow(0 0 0.75rem $color-secondary);
    }

    &__circle{
        @extend %center_absolute;
        width: 40vw;
        height: 40vw;
        border-top: 7px solid $color-primary;
        border-radius: 50%;
        animation: loader_circle 3s linear both;
    }

    &__circle--secondary{
        border-top: none;
        border-bottom: 7px solid $color-tertiary;
    }

}

// Animation circles

@keyframes loader_circle {

    0%{
        transform: translate(-50%, -50%) rotate(0turn);
    }

    75%{
        opacity: 1;
    }
    
    90%{
        opacity: 0;
        visibility : visible;
    }

    100%{
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -50%) rotate(4turn);
    }

}

// animation global loader
@keyframes loader {
    90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        visibility: hidden;
    }
}