// Mobile-first Interface

.presenting{
    @include flex(center, center, column, nowrap);
    text-align: center;
    font-family: $font-text;
    height: 350px;
    background-color: $color-background;
    margin-bottom: 60px;
    &__title{
        font-weight: bold;
        font-size: 25px;
        position: relative;
        font-family: $font-text;
    }
    div{
        height: 60%;
        width: 80%;
        @include flex(space-between, center, column);
    }
}


// Part order

h2{
    height: 50px;
    font-family: $font-text;
    padding-left: 5vw;
    line-height: 50px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 30px;
}

.order{
    @include flex(space-around, center, column);
    font-family: $font-text;
    height: 300px;
    background-color: white;

    p{
        font-weight: bold;
    }

    i{
        line-height: 70px;
        width: 30%;
        text-align: center;
        font-size: 20px;
        color: $color-icon;
    }

    &__step{
        @extend %shadow_button;
        @include flex(space-between, center, row);
        position: relative;
        height: 70px;
        border-radius: 20px;
        width: 80vw;
        background-color: $color-background;
        &:hover{
            background-color: lighten($color-primary, 30%);
        }
        &:hover i{
            color: $color-primary;
        }
    }

    &__step__text{
        text-align: left;
        width: 70%;
    }

    &__step__number{
        text-align: center;
        line-height: 30px;
        position: absolute;
        background-color: $color-primary;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }

}

// Restaurants
.restaurant{
    font-family: $font-text;
    height: auto;
    background-color: $color-background;
    width: 100vw;
    height: 1200px;
    @include flex(space-around, center, column);
    margin: 0 auto;

    &__item{
        height: 250px;
        border-radius: 20px;
        width: 350px;
        position: relative;
        overflow: hidden;
        @extend %shadow_button;
    }

    &__item__img{
        width: 100%;
        height: 100%;
    }

    img{
        object-fit: cover;
        background-size: contain;
        width: 100%;
        height: 100%;
    }

    &__item__new{
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: $color-tertiary;
        padding: 7px 10px;
        color: darken($color-tertiary, 30%);
        border-radius: 2px;
    }

    &__item__foot{
        position: absolute;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.80);
        bottom: 0;
        left: 0;
        height: 30%;
        line-height: 20px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 10px;

        span{
            font-weight: bold;
        }
    }

}

// tablette interface

@media ( min-width : 768px ) and (max-width : 1200px) {
    // Restaurant

    .restaurant{
        // Hover effect
        @include flex(flex-start, center, row, wrap);
        width: 100vw;
        height: 800px;

        &__item{
            width: 45vw;
            height: 30vw;
        }

    }

}

// Desktop interface

@media ( min-width : 1200px ) {

    // Part order
    .order{
        flex-direction: row;
        &__step{
            width: 20vw;

        }
        &__step__number{
            top: 0;
        }
    }

    // Restaurant
    .restaurant{
        // Hover effect
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        height: 700px;
        padding: 50px 0px;
        &__item{
            filter: brightness(0.7);
            transition-duration: 0.2s;
            width: 20vw;
            height: 15vw;
            &:hover{
                filter: brightness(1);
            }
        }
    }
}


// Big Desktop interface

@media ( min-width : 1800px ) {
    // Restaurant
    .restaurant{
        // Hover effect
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        height: 700px;
        padding: 50px 0px;
        &__item{
            filter: brightness(0.7);
            transition-duration: 0.2s;
            width: 20vw;
            height: 15vw;
            &:hover{
                filter: brightness(1);
            }
        }
        &__item:nth-child(odd){
            align-self: flex-start;
        }
        &__item:nth-child(even){
            align-self: flex-end;
        }
    }
}

