// Mobile-first Interface
.presenting{
    @include flex(space-around, center, column, nowrap);
    height: 350px;
    background-color: $color-background;
    margin-bottom: 60px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    &__title{
        font-weight: bold;
        font-size: 25px;
        position: relative;
        left: 0;
        width: 80%;
    }
    &__description{
        width: 80%;
    }
}


// Part order
.order{
    @include flex(space-between, center, column);
    position: relative;
    height: 450px;
    background-color: white;
    padding : 0px 0 50px 0;

    &__title{
        width: 90%;
        font-weight: bold;
        font-size: 30px;
    }

    p{
        font-weight: bold;
    }

    i{
        line-height: 70px;
        width: 30%;
        text-align: center;
        font-size: 20px;
        color: $color-icon;
    }

    &__step{
        @extend %shadow_button;
        @include flex(space-between, center, row);
        position: relative;
        height: 70px;
        border-radius: 20px;
        width: 85%;
        background-color: $color-background;
        &:hover{
            background-color: lighten($color-primary, 30%);
        }
        &:hover i{
            color: $color-primary;
        }
    }

    &__step__text{
        text-align: left;
        width: 70%;
    }

    &__step__number{
        text-align: center;
        line-height: 30px;
        position: absolute;
        background-color: $color-primary;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }

}

// Restaurants
.restaurant{
    position: relative;
    overflow: hidden;
    height: auto;
    background-color: $color-background;
    width: 100vw;
    height: 1300px;
    padding : 50px 0 50px 0;
    @include flex(space-between, center, column);
    margin: 0 auto;

    &__title{
        font-weight: bold;
        font-size: 30px;
        width: 90%;
    }

    &__item{
        height: 250px;
        border-radius: 20px;
        width: 90%;
        position: relative;
        overflow: hidden;
        @extend %shadow_button;
    }

    &__item__img{
        width: 100%;
        height: 100%;
    }

    img{
        object-fit: cover;
        background-size: contain;
        width: 100%;
        height: 100%;
    }

    &__item__new{
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: $color-tertiary;
        padding: 7px 10px;
        color: darken($color-tertiary, 30%);
        border-radius: 2px;
    }

    &__item__foot{
        position: absolute;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.80);
        bottom: 0;
        left: 0;
        height: 30%;
        line-height: 20px;
        @include flex(space-between, center, row, nowrap);
        padding : 0px 20px 0px 20px;

        span{
            font-weight: bold;
        }
    }

}

.coeur, .coeur_front{
    width: 25px;
    height: 25px;
}

.coeur_front{
    position: absolute;
    right: 5%;
    bottom: 15%;
    transform: translateY(50%);
}

// tablette interface

@media ( min-width : 768px ) and (max-width : 1200px) {
    // Restaurant

    .restaurant{
        // Hover effect
        @include flex(space-around, center, row, wrap);
        width: 100vw;
        height: 800px;

        &__item{
            width: 45vw;
            height: 30vw;
            font-size: 2vw;
            line-height: 30px;
        }

    }

}

// Desktop interface

@media ( min-width : 1200px ) {

    // 
    .order{
        flex-direction: row;
        padding: 5vw;
        width: 100vw;

        &__step{
            width: 350px;
            animation-name: zoom;
            animation-duration: 0.5s;
            animation-delay: 4.6s;
            animation-fill-mode: both;
            animation-iteration-count: 1;
        }

        &__step:nth-child(2){
            animation-delay: 4s;
        }

        &__step:nth-child(3){
            animation-delay: 4.3s;
        }

        &__title{
            position: absolute;
            top: 2.5vw;
            left: 5vw;
        }
    }

    // Restaurant
    .restaurant{
        // Hover effect
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        height: 700px;
        padding: 50px 0px;

        &__title{
            position: absolute;
            top: 2.5vw;
            left: 5vw;
        }

        &__item{
            filter: brightness(0.7);
            transition-duration: 0.2s;
            width: 20vw;
            height: 15vw;
            &:hover{
                filter: brightness(1);
            }
        }
    }
}

// Big Desktop interface

@media ( min-width : 1800px ) {
    // Restaurant
    .restaurant{
        // Hover effect
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        padding: 5vw;
        height: 700px;
        font-size: 1vw;


        &__item{
            filter: brightness(0.7);
            transition-duration: 0.2s;
            width: 20vw;
            height: 15vw;
            animation-fill-mode: both;
            animation-duration: 1s;
            animation-iteration-count: 1;
            &:hover{
                filter: brightness(1);
            }
        }


        &__title{
            position: absolute;
            top: 2.5vw;
            left: 5vw;
        }

        &__item:nth-child(odd){
            align-self: flex-start;
            animation-name: to_top;
            animation-delay: 6s;
        }
        &__item:nth-child(even){
            align-self: flex-end;
            animation-name: to_bottom;
            animation-delay: 6.5s;
        }
    }

    // order
    .order{
        flex-direction: row;
        padding: 5vw;
        width: 100vw;

        &__step{
            width: 350px;
        }

        &__title{
            position: absolute;
            top: 2.5vw;
            left: 5vw;
        }
    }

    .coeur, .coeur_front{
        width: 40px;
        height: 40px;
    }

}

