%center_absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
};

%center_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

%shadow_button{
    box-shadow: 0px 3px 14px 5px rgba(0,0,0,0.26);
}

%shadow_button_hover{
    box-shadow: 0px 3px 14px 5px rgba(0, 0, 0, 0.414);
}

%position_coeur {
    position: absolute;
    bottom: 12%;
    right: 5%;
    width: 30px;
    height: 30px;
    transition-duration: 0.7s;
}