// Layout header

header{
    height: 80px;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 5px 10px black;
    position: relative;
    .logo{
        width: 200px;
        height: 100%;
        margin: 0px auto;
        background: url("../images/logo/ohmyfood.png") center no-repeat;
        background-size: contain;
        transition-duration: 0.5s;
    }

    &:hover .logo{
        transform: scale(1.2) rotate(2deg);
    }

    //Arrow

    i{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 25px;
        &:hover{
            color: $color-primary;
        }
    }
}

address{
    text-align: center;
    height: 70px;
    line-height: 70px;
    background-color: $color-location;
}

// End layout header
